@page
@model WebApplication.Pages.LesJoueurs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Joueurs[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueurs[0].Solde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueurs[0].StatPerte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueurs[0].Usager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joueurs[0].Mdp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Joueurs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatPerte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usager)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mdp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
