@page
@model WebApplication.Pages.LesTransactionsArgent.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction d'argent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionArgent.Montant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionArgent.Montant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionArgent.JoueurNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionArgent.JoueurNavigation.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionArgent.RepasNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionArgent.RepasNavigation.Identity)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TransactionArgent.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
